*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Navbar */
.Navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 60px;
	background-color: white;
	overflow: hidden;
	z-index: 2;
	top: 0;
	position: fixed;
	

}

.heading a{
	font-size: 13px;
	text-decoration: none;
	margin-right: 220px;
	text-align: left;
	color: #AF9453;
	letter-spacing: 0.5px;
	font-family: 'Roboto', sans-serif;
} 

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 30%;
	padding-right: 950px;
}

.nav-links li{
	list-style: none;
}



.nav-links a{
	color: black;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-weight: none;
	font-size: 13px;
	padding: 30px 32px;
	font-family: 'Roboto', sans-serif;
}

.nav-links li .active{
	color: #AF9453;
}

/* Image 3 */

.image3{
	background-image: url('./images/image3.png');
	position: relative;
	opacity: 0.99;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 580px;
	width: 1035px;
}

.ptext1{
	position: absolute;
	top: 200px;
	width: 100%;
	left: -22px;
	text-align: center;
	color: white;
	font-size: 40px;
	letter-spacing: 12px;
	font-weight: 500;
	font-size: 'Cormorant Garamond', serif;
	margin-bottom: 100px;
}

.ptext2{
	position: absolute;
	top: 263px;
	width: 1000px;
	text-align: center;
	color: white;
	font-size: 40px;
	letter-spacing: 12px;
	font-size: 'Cormorant Garamond', serif;
	margin-bottom: 5px;
}
	

.ptext3{
	position: absolute;
	top: 327px;
	width: 1000px;
	text-align: center;
	color: white;
	font-size: 40px;
	letter-spacing: 12px;
	font-size: 'Cormorant Garamond', serif;
	margin-bottom: 5px;
}
}
.middle{
	height: 1000px;
	width: 1000px;
	text-align: center;
}

/* 1st Section */
.section1{
	display: flex;
}

/* Card 1 */

.card1{
	background-color: #AF9453;
	width: 390px;
	height: 425px;
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 88px;
	margin-bottom: 0px;
	text-align: center;
}

.card1 .services-header{
	font-size: 22px;
	color: white;
	padding-top: 80px;
	letter-spacing: 10px;
	text-align: center;
	padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

.services-text1{
	color: white;
	font-size: 16px;
	letter-spacing: 2.5px;
	padding-top: 10px;
	padding-bottom: 15px;
	font-family: 'EB Garamond', serif;
}

.services-text2{
	color: white;
	font-size: 16px;
	letter-spacing: 2.5px;
	padding-bottom: 60px;
}

.btn {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 10px 62px;
  font-size: 13px;
  cursor: pointer;
}

/* Card2 */
.card2{
	padding-top: 50px;
	padding-bottom: 40px;
	padding-right: 40px;
	width: 900px;
	
}


/* 2nd Section */
.section2{
	width: 1000px;
	padding-top: 40px;
}

.section2 .quotes{
	text-align: center;
	font-size: 35px;
	/* Change the spacing of the quotes */
	letter-spacing: 20px;
	padding-bottom: 15px;
}
/*
.left-arrow{
	color: #AF9453;
	padding-left: 50px;
	display: flex;
	font-size: 32px;
	flex-wrap: wrap;

	
}


.right-arrow{
	color: #AF9453;
	padding-left: 950px;
	display: flex;
	font-size: 32px;
	flex-wrap: wrap;
	
}

*/

.section2 .para{
	text-align: center;
	font-size: 29px;
	letter-spacing: 3px;
	line-height: 38px;
}

.section2 .name{
	padding-top: 45px;
	text-align: center;
	font-size: 17px;
	color: #AF9453;
}

/* 3rd Section */

.image2{
	background-image: url('./images/image2.png');
	position: relative;
	opacity: 0.99;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 500px;
	width: 950px;
	margin-left: 50px;
	margin-top: 117px;
}

.dummy{
	padding-bottom: 28px;
}

.gallery-card{
	margin-left: 640px;
	height: 410px;
	width: 250px;
	background-color: #AF9453;
	color: white;
	
}

.gallery-header{
	padding-top: 90px;
	font-size: 29px;
	letter-spacing: 5px;
	text-align: center;
	padding-bottom: 15px;
	font-family: 'Roboto', serif;
}

.flower-image{
	padding-left: 90px;
	padding-bottom: 2px;
}

.text{
	text-align: center;
	font-size: 16px;
	letter-spacing: 4px;
	line-height: 25px;
	font-family: 'EB Garamond', serif;
}

.btn-services{
	margin-top: 40px;
	margin-left: 50px;
	border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 8px 36px;
  font-size: 13px;
  cursor: pointer;
}

/* footer */
.footer{
	
	background-color: #AF9453;
	width: 950px;
	height: 160px;
	margin-left: 50px;
	margin-top: 80px;
	color: white;
	font-size: 14px;
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
}

.footer-col1-address{
	padding-left: 100px;
	padding-top: 60px;
	position: absolute;
}

.footer-col2-phoneNo{
	position: absolute;
	padding-left: 248px;
	padding-top: 60px;
}

.footer-col3-copyright{
	position: absolute;
	padding-left: 402px;
	margin-top: 60px;
}

.vertical-line-01{
	height: 50px;
	position: absolute;
	border-left: 1px solid white;
	margin-left: 230px;
	margin-top: 60px;
}

.vertical-line-02{
	height: 50px;
	position: absolute;
	border-left: 1px solid white;
	margin-top: 60px;
	margin-left: 385px;
}

.btn-footer{
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: 70px;
  margin-left: 650px;
  padding: 7px 10px;

}
